*{
    font-family: sans-serif;
}
html{
    height: 100%;
    min-width: 1258px;
}

.bg-image{
    padding-left: 15px;
    padding-top: 10px;
}

.in-put{
    display: inline-block;
    padding-right: 50px;
    margin-bottom:px;
    border: 1px solid gray;
    border-radius: 50px;
    
}

.sign-head{
    margin-bottom: 5px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    font-weight: bolder;
    font-size: 2.5em;
}

.fa-facebook-f,.fa-twitter, .fa-google, .fa-linkedin-in{
    margin-right: 9px;
    font-size:x-large;
    padding: 15px 20px;
    border: 1px solid black;
    border-radius: 50%;
}

.plat-icon{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    
}

.w-75{
    width: 73% !important;
}

.sign-btn{
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(8,80,248,255);
    border: 0px solid;
    margin-left: 40px;
    margin-bottom: 1rem;
    border-radius: 50px;
    padding: 5px 45px;
}

.option-text{
    text-align: center;
    font-size: smaller;
    font-weight: bold;
}

.user-name{
    margin-bottom: 3.5em;
    height: 2.5em;
}

.user-email{
    margin-bottom: 3.5em;
    height: 2.5em;
}

.user-pswrd{
    margin-bottom: 2em;
    height: 2.5em;
}

.fa-user{
    position: absolute;
    top: 9.7rem;
    left: 12.5rem;
}

.fa-envelope{
    position: absolute;
    top: 15.7rem;
    left: 12.5rem;
}

.fa-lock{
    position: absolute;
    top: 21.7rem;
    left: 12.5rem;
}