body, html{
    height:100%;
    /* margin: 0 5vh; */
    font-family: Arial, Helvetica, sans-serif;
}


.navbar{
    display: flex;
    justify-content:space-between;
    height:20vh;
}
#nav_menu{
    display: flex;
    height: 5vh;
    width: 80vh;
    /* margin-right: 75vh; */
    margin-left: 7vh;
    align-items: center;
    gap: 5vh;
    
}

.navicon_flex_1{
    /* display: inline; */
    width: 20vh;
    margin: 3vh 8vh;
    /* background-color: yellow; */
}

.menu_flex_2{
    /* background-color: yellow; */
    width: 150vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 15vh;
    /* margin-right: 30vh; */
    margin: 0 10vh 0 0vh;
}

.menu_flex_2 a{
    /* margin-right:100vh; */
    /* float: left; */
    color: black;
    /* display: inline; */
    /* display:inline flex; */
    /* margin: 0vh 6vh; */
    font-size: x-small;
    
    
}

.how_it_works{
    
}

.nav_buttons_flex_3{
    display: flex;
    /* background-color: yellow; */
    gap: 3vh;
    height: 5vh;
}

/* .flexbox-container{
    display:flex;
    justify-content: start;
    
} */



/* .nav_buttons{ */
    /* display: flex; */
    /* height: 4vh; */
    /* gap: 3vh; */
    /* width: 80v; */
    /* justify-content: center; */
/* } */

#sign_in{
    background-color:white;
    font-size: small;
    color: rgba(8,80,248,255);
    border-radius: 7px;
    padding: 1vh 5vh;
    border-color: royalblue;
    border-style:solid;
    border-width: light;
    /* margin-right: vh; */
}

#try{
    background-color:rgba(8,80,248,255);
    font-size: small;
    color: white;
    border-radius: 7px;
    padding: 1vh 5vh;
    border-color: white;
    border-style: none;
    /* margin: 0 10vh 0 0; */
}

.mother_container{
    margin: 0 10vh;
}

.Container1{
    display:flex;
    justify-content:center;
    gap: 12vh;
    margin-left: 12vh;

}

#focus_box_flex_1{
    /* background-color: yellow; */
    margin-top: 5vh;
    /* float: left; */
    width: 90vh;
}

.Focus{
    font-size: 8vh;
    font-weight: bold;
}

.lettuce{
    font-size: 4.5vh;
}

.gray_text{
    color:darkgray;
    font-weight: 650;
    font-size: larger;
}

.sign_up_free{
    background-color:rgba(8,80,248,255);
    font-size: small;
    color: white;
    border-radius: 7px;
    padding: 1vh 5vh;
    border-color: white;
    border-style: none;
}

.chat_with_us{
    background-color:white;
    font-size: small;
    color: rgba(8,80,248,255);
    border-radius: 7px;
    padding: 1vh 5vh;
    border-color: royalblue;
    border-style:solid;
    border-width: light;
}

.already{
    color:darkgray;
    font-weight: 200;
    font-size: larger;
    /* background-color: yellow; */
   
}

.second_buttons{
    padding: 1vh 0 2vh;
}

.double{
    color:darkgray;
    font-weight: 650;
    font-size:large
}

.focus_list_flex{
    margin-right: 6vh;
    /* background-color: yellow; */
    display: flex;
    gap: 3vh;
    font-size: small;
    justify-content: flex-start;
}

.focus1{
    list-style-type: none;
}

.focus2{
    list-style-type:symbols($);
}



.box9_container_flex_2{
    /* background-color: yellow; */
    /* margin-left: 36vh; */
    /* float: right; */
    /* width:60vh; */
}

#box9{
    /* float:right; */
    width: 65vh;
}

.hr{
    width: 100vh;
    margin: 0 38vh;
}

.start_to_explore{
    text-align: center;
}

#Learn_More{
    color: white;
    background-color:rgba(8,80,248,255);
    border-radius:7px;
    border-color: white;
    padding: 0 7vh;
    border-style:solid;
    border-width: light;

}

.blue_list{
    color: white;
    font-size:smaller;
    list-style-type: none;
    margin-left: -4vh;
    letter-spacing: 0ch;

}

.flexbox_container{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.item1{
    width: 200px;
    margin: 10px;
    border: 3px solid black;
    background-color: aqua;
}

.item2{
    width: 200px;
    margin: 10px;
    border: 3px solid black;
    background-color: aqua;

}

.item3{
    width: 200px;
    margin: 10px;
    border: 3px solid black;
    background-color: aqua;

}

.item4{
    width: 200px;
    margin: 10px;
    border: 3px solid black;
    background-color: aqua;

}

.fit_needs{
    text-align: center;
    padding: 20vh 0 5vh;
}

.solutions_container{
    margin: 0vh 40vh;
    height:100vh;
    width: 90vh;
    /* background-color: yellow; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: none
    "icon_1 icon_2"
    "icon_3 icon_4";
}

.icon_title{
    text-align: center;
}

.automate{
    font-size: smaller;
    text-align: center;
}

.circle{
    height: 30vh;
    padding:9vh 0vh 0vh 12vh;
}

.icon{
    margin:0 
}

.learn_more{
    margin-left: 14vh;
    background-color: white;
    border-radius: 3px;
    padding: 0.5vh 5.5vh 0.5vh;
    font-size: x-small;
    border-style: solid;
}