body, html{
    height:100%;
    /* margin: 0 5vh; */
    font-family: Arial, Helvetica, sans-serif;
}


.navbar{
    display: flex;
    justify-content:space-between;
    height:20vh;
}
#nav_menu{
    display: flex;
    height: 5vh;
    width: 80vh;
    /* margin-right: 75vh; */
    margin-left: 7vh;
    align-items: center;
    gap: 5vh;
    
}

.navicon_flex_1{
    /* display: inline; */
    width: 20vh;
    margin: 3vh 8vh;
    /* background-color: yellow; */
}

.menu_flex_2{
    /* background-color: yellow; */
    width: 150vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 15vh;
    /* margin-right: 30vh; */
    margin: 0 10vh 0 0vh;
}

.menu_flex_2 a{
    /* margin-right:100vh; */
    /* float: left; */
    color: black;
    /* display: inline; */
    /* display:inline flex; */
    /* margin: 0vh 6vh; */
    font-size: x-small;
    
    
}

.how_it_works{
    
}

.nav_buttons_flex_3{
    display: flex;
    /* background-color: yellow; */
    gap: 3vh;
    height: 5vh;
}

/* .flexbox-container{
    display:flex;
    justify-content: start;
    
} */



/* .nav_buttons{ */
    /* display: flex; */
    /* height: 4vh; */
    /* gap: 3vh; */
    /* width: 80v; */
    /* justify-content: center; */
/* } */

#sign_in{
    background-color:white;
    font-size: small;
    color: rgba(8,80,248,255);
    border-radius: 7px;
    padding: 1vh 5vh;
    border-color: royalblue;
    border-style:solid;
    border-width: thin;
    /* margin-right: vh; */
}

#try{
    background-color:rgba(8,80,248,255);
    font-size: small;
    color: white;
    border-radius: 7px;
    padding: 1vh 5vh;
    border-color: white;
    border-style: none;
    /* margin: 0 10vh 0 0; */
}

.mother_container{
    margin: 0 10vh;
}

.Container1{
    display:flex;
    justify-content:center;
    gap: 12vh;
    margin-left: 12vh;

}

#focus_box_flex_1{
    /* background-color: yellow; */
    margin-top: 5vh;
    /* float: left; */
    width: 90vh;
}

.Focus{
    font-size: 8vh;
    font-weight: bold;
}

.lettuce{
    font-size: 4.5vh;
}

.gray_text{
    color:darkgray;
    font-weight: 650;
    font-size: larger;
}

.sign_up_free{
    background-color:rgba(8,80,248,255);
    font-size: small;
    color: white;
    border-radius: 7px;
    padding: 1vh 5vh;
    border-color: white;
    border-style: none;
}

.chat_with_us{
    background-color:white;
    font-size: small;
    color: rgba(8,80,248,255);
    border-radius: 7px;
    padding: 1vh 5vh;
    border-color: royalblue;
    border-style:solid;
    border-width: thin;
}

.already{
    color:darkgray;
    font-weight: 200;
    font-size: larger;
    /* background-color: yellow; */
   
}

.second_buttons{
    padding: 1vh 0 2vh;
}

.double{
    color:darkgray;
    font-weight: 650;
    font-size:large
}

.focus_list_flex{
    margin-right: 6vh;
    /* background-color: yellow; */
    display: flex;
    gap: 3vh;
    font-size: small;
    justify-content: flex-start;
}

.focus1{
    list-style-type: none;
}

.focus2{
    list-style-type:symbols($);
}



.box9_container_flex_2{
    /* background-color: yellow; */
    /* margin-left: 36vh; */
    /* float: right; */
    /* width:60vh; */
}

#box9{
    /* float:right; */
    width: 65vh;
}

.hr{
    width: 100vh;
    margin: 0 38vh;
}

.start_to_explore{
    text-align: center;
}

.tap_head{
    font-size: 3.5vh;
    font-weight: 500;
    margin: 6vh 0vh 3vh;
    /* background-color: yellow; */ 
}

.new_better1{
    font-size: 2vh;
}

.new_better2{
    font-size: 2vh;
}

.new_better1::after{
    content:"\a";
    white-space: pre;
}

.double_tap_icons_container{
    /* background-color: yellow; */
    margin: 6vh 0 14vh;
}

.double_tap_list{
    display: flex;
    justify-content: center;
    gap:18vh;
    list-style-type: none;
    align-items:center;
}

.double_tap_icon1{
    width: 16vh;
    height: 18vh;
    border-radius: 10px;
    background-color: rgba(8,80,248,255);
    color: white;
    font-size: small;
    padding: 3.5vh;
}


.double_tap_icon{
    width: 16vh;
    height: 18vh;
    border-radius: 10px;
    border: 2px solid lightgrey;
    border-width:thin;
    background-color: white;
    color: gray;
    font-size: small;
    padding: 5vh;
}

#double_tap_elipse{
    height: 7vh;
}

#double_tap_human{
    height: 5vh;

}

#double_tap_graph{
    height: 6vh;

}

#double_tap_arrows{
    height: 5vh;

}

#Learn_More{
    color: white;
    background-color:rgba(8,80,248,255);
    border-radius:7px;
    border-color: white;
    padding: 0 7vh;
    border-style:solid;
    border-width: light;

}

.blue_list{
    color: white;
    font-size:smaller;
    list-style-type: none;
    margin-left: -4vh;
    letter-spacing: 0ch;

}

.flexbox_container{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.item1{
    width: 200px;
    margin: 10px;
    border: 3px solid black;
    background-color: aqua;
}

.item2{
    width: 200px;
    margin: 10px;
    border: 3px solid black;
    background-color: aqua;

}

.item3{
    width: 200px;
    margin: 10px;
    border: 3px solid black;
    background-color: aqua;

}

.item4{
    width: 200px;
    margin: 10px;
    border: 3px solid black;
    background-color: aqua;

}

.fit_needs{
    text-align: center;
    padding: 20vh 0 5vh;
    font-weight: 600;
    font-size: 3vh
}

.solutions_container{
    margin: 5vh 40vh;
    height:100vh;
    width: 100vh;
    /* background-color: yellow; */
    display: grid;
    grid-template-columns: 1fr, 1fr 1fr, 1fr;
    grid-template-rows: 1fr, 1fr;
    grid-template-areas:
    ". icon_1 icon_1 icon_2 icon_2 ."
    ". icon_3 icon_3 icon_4 icon_4 .";
}

.icon_1{
    grid-area: icon_1;
    justify-self: start;
 
}

.icon_2{
    grid-area: icon_2;
    justify-self: end;
}

.icon_3{
    grid-area: icon_3;
    justify-self: start;
}

.icon_4{
    grid-area: icon_4;
    justify-self: end;
} 

.double_div{
    /* border: 2px solid black; */
    width: 34vh;
}

.icon_title{
    text-align: center;
}

.automate{
    font-size: smaller;
    text-align: center;
}

.circle{
    height: 18vh;
    margin-left: 7vh;
    margin-bottom: 4vh;
   
}

.automate{
    font-size: 1.6vh;
}

.icon{
    margin:0 
}

.icon_title{
    font-weight: 550;
    font-size: 3vh;
}

.learn_more{
    margin-left: 7vh;
    background-color: white;
    border-radius: 3px;
    padding: 0.5vh 5.5vh 0.5vh;
    font-size: x-small;
    border-style: solid;
}

.try_today_container{
    background-color: rgba(8,80,248,255);
    color: white;
    text-align: center;
    height: 40vh;
}

.final_heading{
    font-weight: 700;
    font-size: 5vh;
    padding: 5vh 0 1vh;
}

.started{
    font-size: 2.3vh;
    font-weight: 600;
}
.get_started{
    color: white;
    font-size: small;
    background-color: rgba(127,209,38,255);
    border-radius: 7px;
    padding: 1vh 5vh;
    border-color: royalblue;
    border-style:solid;
    border-width: thin;

}

.chat_with_us2{
    background-color:white;
    font-size: small;
    color: rgba(8,80,248,255);
    border-radius: 7px;
    padding: 1vh 5vh;
    border-color: royalblue;
    border-style:solid;
    border-width: thin;
}

.footer_buttons{
    display: flex;
    gap: 5vh;
    justify-content: center;
}

.footer_list{
    margin: 3vh;
    display: flex;
    justify-content: center;
    gap: 5vh;
    font-size: x-small;
}

.footer_list_a{
    list-style-type: none;
}

.footer_list_b{
    list-style-type: disc;
}